extends ./layouts/default.pug
include ./mixins/product-item.pug

block title
    title Trang chi tiết sản phẩm

block main
    .product-detail 
        .container 
            .product-detail__wrap 
                .product-detail__left 
                    .product-detail__img-top 
                        div(class="swiper mySwiper2" id="viewerZoom")
                            div(class="swiper-wrapper")
                                div(class="swiper-slide")
                                    img(src="https://static.vecteezy.com/system/resources/previews/026/727/385/non_2x/cute-baby-shiba-in-the-park-free-photo.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://img.freepik.com/free-photo/shiba-inu-dog-photography_1409-4240.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://rukminim2.flixcart.com/image/850/1000/kyhlfgw0/poster/d/m/n/small-cute-shiba-inu-dog-poster-multicolor-photo-paper-print-12-original-imagapewgaywgxud.jpeg?q=90&crop=false", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://static.vecteezy.com/system/resources/previews/009/505/292/non_2x/shiba-inu-puppy-in-spring-white-flowers-portrait-of-a-cute-japanese-dog-red-dog-photo.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://img.freepik.com/premium-photo/portrait-shiba-inu-autumn-park_95945-362.jpg", alt="Shiba")
                            div(class="swiper-button-next")
                            div(class="swiper-button-prev")
                    .product-detail__img-bottom 
                        div(class="swiper mySwiper")
                            div(class="swiper-wrapper")
                                div(class="swiper-slide")
                                    img(src="https://static.vecteezy.com/system/resources/previews/026/727/385/non_2x/cute-baby-shiba-in-the-park-free-photo.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://img.freepik.com/free-photo/shiba-inu-dog-photography_1409-4240.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://rukminim2.flixcart.com/image/850/1000/kyhlfgw0/poster/d/m/n/small-cute-shiba-inu-dog-poster-multicolor-photo-paper-print-12-original-imagapewgaywgxud.jpeg?q=90&crop=false", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://static.vecteezy.com/system/resources/previews/009/505/292/non_2x/shiba-inu-puppy-in-spring-white-flowers-portrait-of-a-cute-japanese-dog-red-dog-photo.jpg", alt="Shiba")
                                div(class="swiper-slide")
                                    img(src="https://img.freepik.com/premium-photo/portrait-shiba-inu-autumn-park_95945-362.jpg", alt="Shiba")
                .product-detail__right
                    //- Breadcrumb
                    div(class="breadcrumb")
                        div(class="breadcrumb__wrap")
                            a(href="#" class="breadcrumb__link") Trang chủ
                            a(href="#" class="breadcrumb__link") Chó
                            a(href="#" class="breadcrumb__link") Chó con
                            a(href="#" class="breadcrumb__link") Shiba Inu Màu Nâu Đỏ
                    //- End Breadcrumb
                    .product-detail__head 
                        .product-detail__title Shiba Inu Màu Nâu Đỏ
                        .product-detail__price 12.000.000 VND
                        .product-detail__buttons 
                            a(href="#" class="button") Liên hệ
                            a(href="#" class="button button--outline") 
                                i(class="fa-regular fa-comment-dots ikon")
                                | Chat với Monito
                    .product-detail__table 
                        table 
                            tbody 
                                tr 
                                    td SKU
                                    td #1000078
                                tr 
                                    td Giống
                                    td Cái
                                tr 
                                    td Tuổi
                                    td 2 tháng
                                tr 
                                    td Kích thước
                                    td Nhỏ
                                tr 
                                    td Màu sắc
                                    td Nâu đỏ
                                tr 
                                    td Mô tả ngắn
                                    td Giống thuần chủng Shih Tzu. Cấu trúc cơ thể tốt. Với chứng chỉ MKA và Microchip. Cha từ dòng dõi vô địch.
                    
                    //- share
                    .share 
                        .share__wrap 
                            .share__left 
                                i(class="fa-solid fa-share-nodes")
                                p Chia sẻ: 
                            .share__right 
                                i(class="fa-brands fa-facebook")
                                i(class="fa-brands fa-x-twitter")
                                i(class="fa-brands fa-instagram")
                                i(class="fa-brands fa-youtube")
                    //- End share

        //- Section 2
        div(class="section-2")
            div(class="container")
                div(class="box-content")
                    div(class="inner-left")
                        div(class="box-sub-title") Có gì mới?
                        h2(class="box-title") Xem thêm chó con
                div(class="section-2__wrap")

                    -
                        var pets = [
                        {
                            image: './assets/img/image_2.png',
                            title: 'MO231 - Pomeranian Trắng',
                            gender: 'Đực',
                            age: '02 tháng',
                            price: '6.900.000 VND'
                        },
                        {
                            image: 'assets/img/image_3.jpg',
                            title: 'MO502 - Poodle Tiny Vàng',
                            gender: 'Cái',
                            age: '02 tháng',
                            price: '3.900.000 VND'
                        },
                        {
                            image: 'assets/img/image_4.jpg',
                            title: 'MO102 - Poodle Tiny Sepia',
                            gender: 'Đực',
                            age: '02 tháng',
                            price: '4.000.000 VND'
                        },
                        {
                            image: 'assets/img/image_5.jpg',
                            title: 'MO512 - Alaskan Malamute',
                            gender: 'Đực',
                            age: '03 tháng',
                            price: '8.900.000 VND'
                        }
                        ];
                    each item in pets
                        +product-item(item.image, 
                        item.title, 
                        item.gender, 
                        item.age, 
                        item.price
                        )

                        //- End Section 2
                            