<!DOCTYPE html>
<html>
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="shortcut icon" href="https://cdn.daca.vn/media/logo/favicon.ico" type="image/x-icon">
  </head>
  <body> 
    <!--  Header-->
    <header class="header">
      <div class="container">
        <div class="header__wrap">
          <div class="header__icon-menu"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
          <div class="header__logo"><a href="/"><img src="./assets/img/logo.svg" alt=""></a></div>
          <nav class="header__menu">
            <ul>
              <li><a href="#">Trang Chủ</a></li>
              <li><a href="#">Danh Mục</a></li>
              <li><a href="#">Giới Thiệu</a></li>
              <li><a href="#">Liên Hệ</a></li>
            </ul>
          </nav>
          <div class="header__search">
            <form action="">
              <input type="text" placeholder="Nhập từ khoá...">
              <button><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
          </div>
          <div class="header__button"><a class="button" href="#">Tham Gia Cộng Đồng</a></div>
          <div class="header__icon-search"><i class="fa-solid fa-magnifying-glass"></i></div>
        </div>
      </div>
    </header>
    <!--  End Header    -->
    <!-- Footer-->
    <footer class="footer">
      <div class="container">
        <div class="footer__top">
          <div class="footer__content">Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi</div>
          <div class="footer__form">
            <form action="">
              <input type="email" placeholder="Nhập email của bạn..." name="">
              <button type="submit">Đăng Ký</button>
            </form>
          </div>
        </div>
        <div class="footer__middle">
          <div class="footer__menu"><a href="#">Trang Chủ </a><a href="#">Danh Mục </a><a href="#">Giới Thiệu </a><a href="#">Liên Hệ </a></div>
          <div class="footer__socials"><a href="#"><i class="fa-brands fa-facebook"></i> </a><a href="#"><i class="fa-brands fa-x-twitter"></i> </a><a href="#"><i class="fa-brands fa-instagram"></i> </a><a href="#"><i class="fa-brands fa-youtube"></i></a></div>
        </div>
        <div class="footer__bottom">
          <div class="footer__copyright">© 2024 28Tech. All rights reserved.</div>
          <div class="footer__logo"><a href="#"><img src="./assets/img/logo.svg" alt=""></a></div>
          <div class="footer__menu-1"><a href="#">Điều khoản dịch vụ </a><a href="#">Chính sách bảo mật </a></div>
        </div>
      </div>
    </footer>
    <!-- End Footer-->
  </body>
</html>