doctype html
html
    head 
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./assets/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
        integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
        crossorigin="anonymous" referrerpolicy="no-referrer")
        block title
    body 
        //  Header
        header(class="header")
            div(class="container")
                div(class="header__wrap")
                    div(class="header__icon-menu")
                        a(href="#") <i class="fa-solid fa-bars"></i>
                    div(class="header__logo")
                        a(href="/")
                            img(src="./assets/img/logo.svg" alt="")
                    nav(class="header__menu")
                        ul
                            li
                                a(href="#") Trang Chủ
                            li
                                a(href="#" ) Danh Mục
                            li
                                a(href="#" ) Giới Thiệu
                            li
                                a(href="#") Liên Hệ
                    div(class="header__search")
                        form(action="")
                            input(type="text" placeholder="Nhập từ khoá...")
                            button <i class="fa-solid fa-magnifying-glass"></i>
                    div(class="header__button")
                        a(href="#" class="button") Tham Gia Cộng Đồng
                    div(class="header__icon-search") <i class="fa-solid fa-magnifying-glass"></i>
        //  End Header    

        block main
        
        // Footer
        footer(class="footer")
            div(class="container")
                div(class="footer__top")
                    div(class="footer__content") Đăng ký ngay để không bỏ lỡ các chương trình của chúng tôi
                    div(class="footer__form")
                        form(action="")
                            input(type="email" placeholder="Nhập email của bạn..." name="")
                            button(type="submit") Đăng Ký
                div(class="footer__middle")
                    div(class="footer__menu")
                        a(href="#") Trang Chủ 
                        a(href="#") Danh Mục 
                        a(href="#") Giới Thiệu 
                        a(href="#") Liên Hệ 
                    div(class="footer__socials")
                        a(href="#") <i class="fa-brands fa-facebook"></i> 
                        a(href="#") <i class="fa-brands fa-x-twitter"></i> 
                        a(href="#") <i class="fa-brands fa-instagram"></i> 
                        a(href="#") <i class="fa-brands fa-youtube"></i>
                div(class="footer__bottom")
                    div(class="footer__copyright") © 2024 28Tech. All rights reserved.
                    div(class="footer__logo")
                        a(href="#") <img src="./assets/img/logo.svg" alt="">
                    div(class="footer__menu-1")
                        a(href="#") Điều khoản dịch vụ 
                        a(href="#") Chính sách bảo mật 
        // End Footer